#resume{
  margin-top: 5%;
}

.page__content h2 {
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 1em;
}

h3 {
  margin-top: 1.5em;
}

.organization-experience > :not(h2):not(ul) {
  padding-left: 15px;
}

.experience-section h3:first-of-type {
  margin-top: 1em;
}

h2{
  text-transform: uppercase;
}

#resume-header{
  display: flex;
}

#resume-container{
  display: flex;
  flex-direction: column;
}

#contact-information ul{
  list-style-type: none;
  padding-left: 0px;
}

