html {
  color: #222;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  font-weight: bold;
}

.header-container,
.footer-container,
.main aside {
}

.header-container {
  color: black;
  padding-left: 30px;
  line-height: 0.75;
}

.sub-header {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 175%;
  line-height: 1.5;
  margin-bottom: 20px;
}

.content {
  padding-left: 30px;
  font-size: 150%;
  line-height: 1.5;
}

.date {
  font-size: 80%;
  font-style: italic;
}

h1.title {
  font-size: 500%;
  margin-bottom: 20px;
}

ul#actions {
  list-style: none;
}

ul#actions li{
  color: black;
  display: inline;
  padding-right: 40px;
  font-size: 135%;
}

a:link {
  text-decoration: none;
}

.footer-container footer {
  background: white;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 135%
}

footer {
  padding-bottom: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

