---
layout: default
---

<link
  rel="stylesheet"
  type="text/css"
  href="/assets/css/blog-post.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/css/blog-style.css"
/>

<div id="main" role="main">
  <div id="blog-post-header">
    <h1>{{ page.title }}</h1>
    <div>{{ page.date | date: "%B %e, %Y" }}</div>
  </div>

  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    <section class="page__content" itemprop="text">{{ content }}</section>
  </article>

  {% if page.original_post_link %}
  <div>
    Originally published here:
    <a href="{{ page.original_post_link}}" target="_blank"
      >{{ page.original_post_link }}</a
    >
  </div>
  {% endif %}
</div>
